<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이도윤 따까리</title>
    <style>
        .container {
            width:800px;
            margin:0 auto;
            box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
            padding: 0.3rem 0.8rem;
            border-radius: 0.5rem;
        }
    </style>
</head>
<body>
    <div class="container">
        {% block content %}
        
        {% endblock %}
    </div>
</body>
</html>